# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://gqcwzxnuawpfqvrukcmn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdxY3d6eG51YXdwZnF2cnVrY21uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4NTYxNzIsImV4cCI6MjA4NzQzMjE3Mn0.ScX8MryJZvfRpa6H0RCeylRVhzlf7hdHnGE5YrbgIwQ
NEXT_PUBLIC_ADMIN_EMAILS=l47idkpro@gmail.com,jarysucksatgames@gmail.com
